
body {
    background-color: rgb(200, 222, 235);
    color: rgb(7, 44, 108);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    padding: 10px;
    
}

label {
    font-weight: bold;
}

input, button, select {
    font-size: large;
    border: 2px rgba(7, 44, 108) solid;
    border-radius: 5px;
}

input:hover, button:hover, select:hover {
    box-shadow: 0 0 3px rgb(15, 91, 220);
}



p {
    margin-left: 20px; 
    margin: 50px;
}

#finalBalance {
    font-weight: bold;
}

div {
    /* width: 30%; */
    border-radius: 5px;
}

